<section id="projects" class="mb-8">

    <h2 class="text-2xl font-semibold mb-4">Projects</h2>

    <ul>

      <li class="mb-4">

        <h3 class="text-lg font-semibold">1. Health Management System</h3>

        <p class="text-gray-600">Java, Spring Boot, Hybernate, Angular, JavaScript, MySql</p>

        <p>

         

        </p>

      </li>

      <li class="mb-4">

        <h3 class="text-lg font-semibold">2. Health Insorance</h3>

        <p class="text-gray-600">Java, Hibernate</p>

        <p>

         

        </p>

      </li>

      <!-- Add more projects if needed -->

    </ul>

  </section>